<div data-bind="attr:{class:orientation}">
  <div id="map-wrapper" data-bind="attr:{class:status}">
    <div class="splash-screen info">
      <h1>Map Frogger</h1>
      <h3>Help the frog get to its pond at Kikar Ha'medina</h3>
      <h4 class="desktop">Use the arrow keys</h4>
      <h4 class="desktop">Hit SPACEBAR to play</h4>
      <h4 class="mobile-landscape">Swipe to move the frog</h4>
      <h4 class="mobile-portrait">But, first, please rotate to LANDSCAPE</h4>
      <button class="play mobile-landscape">Play</button>
      <h5>By Yuval Shirav</h5>
    </div>
    <div class="game-over-screen info">
      <h1>Game Over!</h1>
      <h3>Be more careful next time</h3>
      <h4 class="mobile">It's easier on desktop...</h4>
      <h4 class="desktop">Hit SPACEBAR to try again</h4>
      <button class="play mobile">Try again</button>
    </div>
    <div class="you-win-screen info">
      <h1>You Win!</h1>
      <h3>The frog thanks you</h3>
      <h4 class="desktop">Hit SPACEBAR to play again</h4>
      <button class="play mobile">Play again</button>
    </div>
    <div id="frog"/>
    <span id="target"></span>
    <span class="traffic-light" id="traffic-light-1">
      <span data-bind="attr:{class:trafficLight1}"></span>
    </span>
    <span class="traffic-light" id="traffic-light-2">
      <span data-bind="attr:{class:trafficLight2}"></span>
    </span>
    <div id="map" class="">
    </div>
  </div>
</div>
